.dxnbControl_MyVioletTheme 
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #F2F2F2;
}
.dxnbControl_MyVioletTheme td.dxnbCtrl
{
    padding: 0px;
}
.dxnbControl_MyVioletTheme a
{
    color: #000000;
}

.dxnbLoadingPanel_MyVioletTheme
{
	font: 9pt Tahoma;
	color: #303030;
}
.dxnbLoadingPanel_MyVioletTheme td.dx
{
	background-color: #F2F2F2;
	white-space: nowrap;
	text-align: center;
	padding: 12px 12px 12px 12px;
}
.dxnbGroupHeader_MyVioletTheme
{
	font: 9pt Tahoma;
	color: #FFFFFF;
	background-color: #B680BD;
	border: Solid 1px #7D4B85;
	padding: 4px 4px 4px 8px;
	
	background-image: url('<%=WebResource("MyThemeAssembly.App_Themes.MyVioletTheme.nbGroupHeaderBack.gif")%>'); 
	background-repeat: repeat-x;
	background-position: top;
}
.dxnbGroupHeader_MyVioletTheme table.dxnb
{
	font: 9pt Tahoma;
	color: #FFFFFF;
}
.dxnbGroupHeader_MyVioletTheme td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupHeaderCollapsed_MyVioletTheme
{
	font: 9pt Tahoma;
	color: #FFFFFF;
	background-color: #B680BD;
	border: Solid 1px #7D4B85;
	padding: 4px 4px 4px 8px;
	
	background-image: url('<%=WebResource("MyThemeAssembly.App_Themes.MyVioletTheme.nbGroupHeaderBack.gif")%>'); 
	background-repeat: repeat-x;
	background-position: top;
}
.dxnbGroupHeaderCollapsed_MyVioletTheme table.dxnb
{
	font: 9pt Tahoma;
	color: #FFFFFF;
}
.dxnbGroupHeaderCollapsed_MyVioletTheme td.dxnb
{
	white-space: nowrap;
}
.dxnbGroupContent_MyVioletTheme
{
	font: 19pt Tahoma;
	color: #000000;
	border: Solid 1px #A9A9A9;
	padding: 3px 4px 3px 4px;
}
.dxnbGroupContent_MyVioletTheme table.dxnb
{
    background-color: #D5D5D5;
}
.dxnbItem_MyVioletTheme, .dxnbLargeItem_MyVioletTheme, .dxnbBulletItem_MyVioletTheme
{
	font: 9pt Tahoma;
	color: #000000;
	background-color: #F2F2F2;
    border-top: Solid 1px #F2F2F2;	
    border-bottom: Solid 1px #F2F2F2;	
}
.dxnbItem_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbLargeItem_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbItemSelected_MyVioletTheme, .dxnbLargeItemSelected_MyVioletTheme, .dxnbBulletItemSelected_MyVioletTheme
{
	background-color: #7D4B85;
	color: #FFFFFF;
}
.dxnbItemSelected_MyVioletTheme a, .dxnbLargeItemSelected_MyVioletTheme a, .dxnbBulletItemSelected_MyVioletTheme a
{
	color: #FFFFFF;
}
.dxnbItemSelected_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbLargeItemSelected_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbItemHover_MyVioletTheme, .dxnbLargeItemHover_MyVioletTheme, .dxnbBulletItemHover_MyVioletTheme
{
	background-color: #DBBBDA;
	color: #000000;
}
.dxnbItemHover_MyVioletTheme a, .dxnbLargeItemHover_MyVioletTheme a, .dxnbBulletItemHover_MyVioletTheme a
{
	color: #000000;
}
.dxnbItemHover_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbLargeItemHover_MyVioletTheme
{
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-left: 15px;
}
.dxnbGroupHeader_MyVioletTheme, .dxnbGroupHeaderCollapsed_MyVioletTheme
{
    text-align: left;
}
.dxnbItem_MyVioletTheme, .dxnbItemHover_MyVioletTheme, .dxnbItemSelected_MyVioletTheme,
.dxnbBulletItem_MyVioletTheme, .dxnbBulletItemHover_MyVioletTheme, .dxnbBulletItemSelected_MyVioletTheme
{
    text-align: left;
}
.dxnbLargeItem_MyVioletTheme, .dxnbLargeItemHover_MyVioletTheme, .dxnbLargeItemSelected_MyVioletTheme
{
    text-align: center;
}
.dxnbGroupHeaderHover_MyVioletTheme
{
}
.dxnbGroupHeaderCollapsedHover_MyVioletTheme
{
}
/* Disabled */
.dxnbDisabled_MyVioletTheme, .dxnbDisabled_MyVioletTheme td.dcnb
{
	color: #bdaab1;
	cursor: default;
}